@using NoticeBoard.Models.VewModel
@model UserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="col-md-12 ">
        <div class="card" style="min-height: 16rem; width: auto;">
            <h5 class="card-header" style="background: rgba(96,96,96,0.33)">Notice Board</h5>
            <div class="card-body" style="height: 20rem; overflow-y: scroll;">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Notice Title </th>
                            <th scope="col">Upload Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    @{

                        foreach(var UserNotice in Model.UserNotice)
                        {
                            if (!UserNotice.IsVisited)
                            {
                                <tr class="font-weight-bold">
                                <td><a onClick="reply_click(this.id)" id="@UserNotice.NoticeId"  href="@Url.Content("~/Notice/"+@UserNotice.NoticePath)" 
                                        target="_blank" >@UserNotice.NoticeName</a></td>
                                <td>@UserNotice.UploadTime</td>
                                </tr>
                            }
                            
                        }
                        foreach(var UserNotice in Model.UserNotice)
                        {
                            if (UserNotice.IsVisited)
                            {
                                <tr>
                                <td><a onClick="reply_click(this.id)" id="@UserNotice.NoticeId"  href="@Url.Content("~/Notice/"+@UserNotice.NoticePath)" 
                                        target="_blank" >@UserNotice.NoticeName</a></td>
                                <td>@UserNotice.UploadTime</td>
                                </tr>
                            }
                            
                        }

                    }
                    </tbody>
                </table>

            </div>
        </div>
</div>
<script>
  function reply_click(clicked_id)
  {
          var obj = {
          ClickedNoticeId: clicked_id
          }

          $.ajax({
              url: "/User/OnClickViewCounter",
              method: "POST",
              dataType: "json",
              data: obj,
              success: function(data) {
                  alart(data);
              },
              error: function(err) {
                  console.error(log);
              }
          });
}
</script>